* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding: 10px 30px 0 30px;
    background-color: black;
    color: white;
    font-size: 21px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.link {
    color: grey;
    text-decoration: none;
    transition: color 0.1s ease;
}

.link:visited {
    color: grey;
}

.link:hover {
    color: white;
}

.link.Home {
    color: rgb(17, 233, 233);
}

.link.Projects {
    color: #ffff66;
}

.link.Skills {
    color: #b300ff;
}

.link.Contact {
    color: #e20071;
}

.dropdownIcon {
    cursor: pointer;
    padding: 0 20px 0 80px;
    font-size: 30px;
    transition: transform 0.2s;
}

.dropdownIcon:hover {
    transform: scale(1.1);
}

.dropdownIcon:active {
    transform: scale(0.9);
}

.dropdownMenu {
    position: absolute;
    top: 10vh;
    right: 20px;
    list-style: none;
    padding: 10px 20px;
    background-color: rgb(24, 24, 23);
    border-radius: 10px;
    z-index: 999;
}

.dropdownItem {
    margin: 10px 0;
}

.errorPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100vh;
    color: white;
    background-color: black;
}

.home,
.projects,
.skills,
.contact {
    height: 90vh;
    background-color: black;
    color: white;
}

.homeInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
    height: 85vh;
    margin: auto;
    max-width: 500px;
    padding: 20px;
}

.homeTitle {
    background: linear-gradient(
        45deg,
        rgb(1, 116, 116),
        rgb(17, 233, 233),
        rgb(1, 116, 116),
        rgb(17, 233, 233)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 40px;
}

.homeAbout {
    font-size: 20px;
}

.projectsTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 10px 60px 10px;
}

.projectsTitle {
    background: linear-gradient(45deg, #ffff99, #ffcc00, #ffff99, #ffcc00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 40px;
}

.skillsTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 10px 60px 10px;
}

.skillsTitle {
    background: linear-gradient(45deg, #b300ff, #ff66ff, #b300ff, #ff66ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 40px;
}

.skillCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    gap: 20px;
    margin: auto;
    padding: 30px 20px;
}

.skillCard {
    padding: 20px 10px;
    width: 100px;
    background: linear-gradient(45deg, #b301ff, #ff00ff);
    border-radius: 3px;
    box-shadow: 5px 5px 5px 1px rgb(44, 44, 44);
    cursor: pointer;
}

.skillName {
    text-align: center;
    user-select: none;
}

.contactsTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 10px 60px 10px;
}

.contactsTitle {
    background: linear-gradient(45deg, #e20071, #ff94d5, #e20071, #ff94d5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 40px;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: auto;
    max-width: 500px;
    padding: 40px 20px 0 20px;
}

.howToContact {
    font-size: 20px;
}

.email {
    color: #e20071;
    text-decoration: none;
}

.email:visited {
    color: #e20071;
}

.email:hover {
    color: #ff94d5;
}

.socials {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    z-index: 1;
}

.line {
    background-color: #e20071;
    height: 1px;
    width: 100%;
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.socialIcon {
    font-size: 40px;
    transition: color, transform 0.2s;
    color: #ff94d5;
}

.socialLink:visited {
    color: #ff94d5;
}

.socialIcon:hover {
    color: #e20071;
    transform: scale(1.2);
}

.socialIcon:active {
    color: #e20071;
    transform: scale(0.9);
}
